.starting-number {
  background-color: var(--mat-sys-on-secondary) !important;
}

.inserted-number {
  background-color: var(--mat-sys-surface-tint);
  color: #101414 !important;
}

.empty-cell {
  background-color: #101414 !important;
}

.cell-base {
  color: var(--mat-sys-surface-tint);
  box-shadow: none;
  border: none;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
}

.sudoku-grid {
  border-collapse: collapse;
}

.sudoku-grid td {
  border: 1px solid var(--mat-sys-surface-tint);
}

.thick-border-top {
  border-top: 3px solid var(--mat-sys-surface-tint) !important;
}

.thick-border-left {
  border-left: 3px solid var(--mat-sys-surface-tint) !important;
}

.thick-border-right {
  border-right: 3px solid var(--mat-sys-surface-tint) !important;
}

.thick-border-bottom {
  border-bottom: 3px solid var(--mat-sys-surface-tint) !important;
}
